#
# OpenSSL with TPM2 provider configuration file.
# See doc/man5/config.pod for more info.
#

# Note that you can include other files from the main configuration
# file using the .include directive.
#.include filename

# This definition stops the following lines choking if HOME isn't
# defined.
HOME			= .

# Use this in order to automatically load providers.
openssl_conf = openssl_init

# Comment out the next line to ignore configuration errors
config_diagnostics = 1

# Extra OBJECT IDENTIFIER info:
# oid_file       = $ENV::HOME/.oid
oid_section = new_oids

[openssl_init]
providers = provider_sect

# List of providers to load
[provider_sect]
default = default_sect
tpm2 = tpm2_sect

[default_sect]
activate = 1

[tpm2_sect]
module = /usr/lib/ossl-modules/tpm2.so
#tcti = tabrmd:bus_name=com.intel.tss2.Tabrmd
activate = 1
